<div *ngIf="playlistDetail">
    <table>
        <thead>
            我的播放列表
        </thead>
        <tr class="header">
            <th class="index"></th>
            <th class="title">歌曲标题</th>
            <th class="duration">时长</th>
            <th class="singer">歌手</th>
            <th class="album">专辑</th>
        </tr>

        <tr *ngFor="#s of playlistDetail; #i=index" [class.disabled]="!s.song.canPlay">
            <th class="index">
                <span>{{i+1}}</span><span class="play" [class.disabled]="!s.song.canPlay" [class.current]="s.song.id===curSongId"
                (click)="handlePlaySong(s.song.id)"></span>
            </th>

            <th class="title"><a (click)="handlePlaySong(s.song.id)">{{ songName(s.song, "-") | textFormat:13}}</a></th>
            <th class="duration">{{s.song.duration | durationFormat }}</th>
            <th class="singer">{{singerName(s.singers, "/") | textFormat:4}}</th>
            <th class="album">{{s.album.name | textFormat:8}}</th>
        </tr>

    </table>
</div>