
.profile {
    max-width: 980px;
    height: 190px;
}
.profile .box {
    float: left;
    margin: 2px 15px;
    position: relative;
    width: 184px;
    height: 184px;
    
    border: 1px lightgray solid;
   
}
.profile .info {
    margin-top: 2px;
    float: left;
}

.box img {
    position: absolute;
    top: 2px;
    left: 2px; 
}
.info .header {
    height: 45px;
    display: display;
    border-bottom: 1px lightgray solid;
    line-height: 45px;
    font-weight: bold;
    margin-top: 3px;
    padding-left: 10px;
}

.header span {
    display: inline-block;
    width: 90px;
}

.info ul {
    margin-top: 5px;
    height: 60px;
}

li {
    width: 90px;
    height: 45px;
    padding-left: 10px;
    float: left;
    display: block;
    border-right: 1px lightgray solid;
    text-align: left;
    line-height: 45px;
    
}


li:last-child {
    border: 0;
}

.info .signature,
.info .location,
.info .sns {
    padding-left: 5px;
    font-size: 0.8em;
    height: 27px;
}