<div class="player">

    <audio #audio (loadedmetadata)="onLoadMetaData()" (timeupdate)="onProgressUpdated()" (play)="onPlay()" (pause)="onPause()"
    (ended)="onEnded()">
        <!--<source #src type="audio/mpeg">-->

        <source #src type="audio/mpeg">
    </audio>

    <div class="sub">
        <a class="locker lock" title="锁定"></a>
    </div>
    <div class="main">
        <div class="dashboard">
            <div class="buttons">
                <a class="prev" title="上一首(ctrl+←)" (click)="handlePrev($event)" (keyup.p)="handlePrev($event)"></a>
                <a [ngClass]="{'play': isPlaying, 'pause': !isPlaying }" title="播放/暂停(p)" (click)="handlePnP($event)" (keyup.space)="handlePnP($event)"></a>
                <a class="next" title="下一首(ctrl+←)" (click)="handleNext($event)" (keyup.n)="handleNext($event)"></a>
            </div>
            <!-- end of <div class="buttons"> -->

            <!--<div class="guard" *ngIf="curSong">-->
                <div class="cover">
                    <img *ngIf="curSong" [src]="curSong.album.cover + '?param=34y34'">
                    <a class="mask" (click)="handleSong()"> </a>
                </div>
                <!--end of <div class="cover">-->

                <div class="info">
                    <div class="header">
                        <a class="title" *ngIf="curSong" >{{curSong.song.name}}</a>
                        <a class="mv" *ngIf="curSong && curSong.song.mv"></a>
                        <a class="singer" *ngIf="curSong">{{curSong.singers[0].name}}</a>
                        <a class="playlist" title="来自歌单"></a>
                    </div>
                    <!-- end of <div class="header"> -->

                    <div class="progress">
                        <div #bar class="bar"  (click)="handleScrubbingClick($event)">
                            <div class="buffered" [width]="bufferedWidth" ></div>
                            <div class="current" [width]="curWidth"></div>
                            <div #index class="index" [style.left]="curWidth"(mousedown)="handleScrubbingBegin($event)" ></div>
                        </div>
                        <div class="duration">
                            <span class="current">{{audio.currentTime | durationFormat:"s"}}</span>/ <span class="total">{{audio.duration | durationFormat:"s"}}</span>
                        </div>
                    </div>
                    <!-- end of <div class="progress">-->

                </div>
                <!-- end of <div class="info"> -->

            <!--</div>-->
            <!-- end  of   <div  class="guard" *ngIf="curSong">     -->

            <div class="operation">
                <a class="like" title="收藏"></a>
                <a class="share" title="分享"></a>
            </div>
            <!-- end of <div class="operation"> -->

            <div class="controls">
                <a class="volume" title="音量"></a>
                <a class="mode "
                 [ngClass]="{'inorder': curPlayMode === 1,
                             'single': curPlayMode === 0,
                             'random': curPlayMode === 2 }"
                 title="循环"
                 (click)="handlePlayMode()"></a>
                <a class="playlist" title="播放列表"></a>

            </div>
            <!-- end of <div class = "controls"> -->

        </div>
        <!-- end of <div class="dashboard"> -->

    </div>
    <!-- end of <div class="bg"> -->

</div>
<!-- end of <div class="player"> -->