<div class="player">
    
    <audio #audio
        (loadedmetadata)="onLoadMetaData()"
        (timeupdate)="onProgressUpdated()"
        (play)="onPlay()"
        (pause)="onPause()"
        (ended)="onEnded()"
    >
        <source *ngFor="#src of sources" [src]="src.url" [type]="src.typ"]
    </audio>
    
    <div class="sub">
         <a class="locker lock" title="锁定"></a>
    </div>
    <div class="main">
        <div class="dashboard">
            <div class="buttons">
                <a class="prev" title="上一首(ctrl+←)" (click)="handlePrev()"  (keydown.p)="handlePrev($event)"></a>
                <!--<a class="play" title="播放/暂停(p)" (click)="handlePnP()" (keydown.space)="handlePnP($event)"></a>-->
                <a [class.play]="isPlaying" [class.pause]="!isPlaying" title="播放/暂停(p)" (click)="handlePnP()" (keydown.enter)="handlePnP($event)"></a>
                <a class="next" title="下一首(ctrl+←)" (click)="handleNext()" (keydown.n)="handleNext($event)"></a>
            </div> <!-- end of <div class="buttons"> -->
                
                [class.my-class]="isClassVisible"
                
            <div class="cover">
                <img src ="http://p4.music.126.net/fN4A0PrYP_EFifceawjOqw==/667403558072206.jpg?param=34y34">
                <a href="..." class="mask" (click)="handleSong()"> </a>
            </div> <!--end of <div class="cover">-->
                
            <div class="info">
                <div class="header">
                       <a class="title">下过雨后</a>
                       <a class="mv"></a>
                       <a class="singer">洪佩一</a>
                       <a class="playlist" title="来自歌单"></a>        
                </div> <!-- end of <div class="header"> -->
                    
                <div class="progress">
                    <div class="bar" #bar >
                        <!--<div class="ready" [width]="readyWidth" #readyBar></div>-->
                        <div class="current" [width]="curWidth" #currentBar></div>
                        <div class="index" #indexBar></div>
                    </div>
                    <div class="duration">
                        <span class="current">03:03</span>/ <span class="total">05:05</span>
                    </div>
                </div> <!-- end of <div class="progress">-->
                    
            </div> <!-- end of <div class="info"> -->
            
            <div class="operation">
                <a class="like" title="收藏"></a>
                <a class="share" title="分享"></a>
            </div> <!-- end of <div class="operation"> -->
            
            <div class = "controls">
                <a class="volume" title="音量收藏"></a>
                <a class="mode loop" title="循环"></a>
                <a class="playlist" title="播放列表"></a>

            </div> <!-- end of <div class = "controls"> -->
                   
        </div> <!-- end of <div class="dashboard"> -->
            
    </div> <!-- end of <div class="bg"> -->

</div> <!-- end of <div class="player"> -->