
.player {
    height: 63px;
    min-width: 980px;
}



.bg {
    padding-top: 10px;
    height: 53px;
    margin-right: 67px;      
    background: transparent url("./resources/images/playbar.png") 0px 14px scroll repeat-x;

    
}

.dashboard {
    width: 980px;
    height: 47px;
    margin: 0px auto; 
    margin-top:6px;

}


.dashboard .buttons {
    width: 163px;
    float: left;
}

.dashboard .buttons a  {
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 12px;
    width: 28px;
    height: 28px;
    background: transparent url("./resources/images/playbar.png") 0px 0px scroll no-repeat;
}
.dashboard .buttons .prev {  
    background-position: 0px -130px;
}

.dashboard .buttons a.prev:hover {  
    background-position: -30px -130px;
}


.dashboard .buttons .play {
    width: 36px;
    height: 36px;
    margin-top:8px;
    background-position:  0px -204px;
}

.dashboard .buttons .pause {
    width: 36px;
    height: 36px;
    margin-top:8px;
    background-position:  -40px -164px;
}

.dashboard .buttons .next {
    background-position: -80px -130px;
}
.dashboard .buttons a.next:hover {
    background-position: -110px -130px;
}

.dashboard .cover {
    float: left;
    width: 34px;
    height: 34px;
    margin-top:9px;
    position: relative;
}

.cover .mask {
     background: transparent url("./resources/images/playbar.png") 0px -80px scroll no-repeat;
     position: absolute;
     left: 0px;
     top: 0px;
     width: 34px;
     height: 34px;
}

.cover img {
    position: absolute;
    left: 0px;
    top: 0px;
}


.dashboard .info {
    float: left;
    width: 570px;
    height: 37px;
    
}

.info .header {
    margin-top: 12px;
    font-size: 0.8em;
    margin-left: 10px;
    height: 17px;
    cursor: pointer;
}

.info .header a {
    display: block;
    margin-right: 5px;
    height: 17px;
    float: left;
    line-height: 17px;
}
.info .header a:hover {
    text-decoration: underline;
}

.header a.title {
    color: #e8e8e8;
}
.header a.singer {
    color: #9b9b9b;
}

.header a.mv {
    width: 19px;
    height: 17px;
    background: transparent url("./resources/images/playbar.png") 0px -57px scroll no-repeat; 

}
.header a.mv:hover {
    background-position: -20px -57px;
}

 .header a.playlist {
    background: transparent url("./resources/images/playbar.png") -110px -103px scroll no-repeat; 
    width: 14px;
    height: 14px;
}
.header a.playlist:hover {
    background-position: -130px -103px;
}

.locker {
    float:right;
    width:67px;
    height:63px;
    
    background: transparent url("./resources/images/playbar.png") 0px -380px scroll no-repeat;
    
}

