
.row {
    /*background-color: red;*/
      margin-top: 10px;
      height: 60px;
      position: relative;
}


.row label, .row input {
    position: absolute;
    height:30px;
    top: 15px;
    margin-left: 10px;
}
.row label {
    font-weight: bold;
    width: 64px;
    line-height: 30px;
}


.row  input {
    left: 74px;
    max-width: 224px;
    padding-left: 10px;
    font-size: 1.2em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-top : 1px solid #ccc;
    border-right : 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    border-radius: 4px;
}


control-message  {
  display: block;
  padding-left: 94px;
  color: red;
  font-size: 1em;
}

.ng-valid{
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

