<div class="profile">
    <div class="box">
        <img [src]=userInfo.profile.avatarUrl>
    </div>
    <div class="info">
        <div class="header">
            <h2><span class="nickname">{{userInfo.profile.nickname}}</span><span class="lv">7</span><span class="gender">男</span></h2>
        </div>
        <ul>
            <li><strong>0</strong>动态</li>
            <li><strong>13</strong>关注</li>
            <li><strong>0</strong>粉丝</li>
        </ul>
        <div class="signature">
            个人介绍: {{userInfo.profile.signature}}
        </div>
        <div class="location">
            所在地区: {{signature}}
        </div>
        <div class="sns">
            社交网络: {{signature}}
        </div>
    </div>
</div>